

:root{
  //Couleur de base

  --color-white: #fff;
  --color-black: #000;

// Couleur du projet

  --color-Link: #202C4A;
  --color-Link-visited: #8B8B97;
  --color-Link-hover: #E53847;
 // --color-Link-active: ;
 // --color-Link-focus: ;

  //Couleur du background
  --color-bg-primary: #fff;
  --color-bg-secondary: #F0F0F0;
  --color-bg-tertiary: #202C4A;

  --color-text-primery: #000;
  --color-text-secondary: #fff;


}
