

h1, h2, h3 ,h4 ,h6{

  font-family: var(--ff-titre);
  line-height: var(--lh-thin);
}

h1{

  font-family: var(--fz-h1);
  text-transform: uppercase;

}

h2{

  font-family: var(--fz-h2);
  text-transform: uppercase;

}
h3{

  font-family: var(--fz-h3);
  text-transform: uppercase;

}h4{

  font-family: var(--fz-h4);
  text-transform: uppercase;

}